<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
    <style>
        table, h2 {
            overflow: hidden;
            border-radius: 15px 30px;
            border-spacing: 0;
            background-color: rgb(50,120,255);
            font-family: verdana;
            color: white;
        }
        th, td, h2 {
            padding: 8px;
        }
        th {
            background-color: rgb(100,170,255);
        }
    </style>
</head>
<body>
    <h2 class="ej_title">Ejercicio 1) Pasajeros por vuelo</h2>
    {% for vuelo in data %}
    <table width="40%" style="text-align:center;">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>VIP</th>
            <th>Solicitudes</th>
        </tr>

        {% for pasaj in vuelo.pasajeros %}
            <tr>
                <td>{{ pasaj.nombre }}</td>
                <td>{{ pasaj.apellido }}</td>
                <td>{{ pasaj.dni }}</td>
                <td>
                    {% if pasaj.vip %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td>
                    {% if pasaj.solicitudesEspeciales %}
                        {{ pasaj.solicitudesEspeciales }}
                    {% else %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
            </tr>
            <br>
        {% endfor %}
    </table>
    {% endfor %}
</body>
</html>